:root{
    --fuente-principal: "Arial, Helvetica, sans-serif";
    --fuente-secundario: "cursive"
    --color-principal: #0f2a1D;
    --segundo-color: #375534;
    --cuarto-color: #6B9071;
    --quinto-color: #AEC3B0;
    --sexto-color: #E3EED4;
    --octavo-color: #E5E0D8;
    --decimo-color: #D2AB80;
    --decimoprimer-color: #E5D2B8;
    --decimosegundo-color: #725C3A;

}
.barra-nav{
    width: 80%;
    height: 100px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 50px;
    margin: 40px;
    background-color: rgb(120, 148, 186);
    border-radius: 20px;
}
li:hover{
    background-color: rgb(206, 221, 237);
}
li{
    margin: 80px;
}
ul li a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}